# Python
__pycache__/
*.pyc
.venv/
.env

# Logs
logs/

# Ignore all generated artifacts
Artifacts/*

# BUT allow DVC metadata files
!Artifacts/**/*.dvc


# Data source (external)
data/_source/

# OS
.DS_Store

# Model binaries
*.pt
app/backend/classifier.pt
